table input {
  width: 110px;
}

.new button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reset-container {
  display: flex;
  justify-content: flex-end;
}

#reset {
  color: #0078D7;
  width: 120px;
}

#reset:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-warning {
  color: #515151;
}


