@import 'seuilrentabilite.css';

* {
  transition: all 0.5s;
}

body {
  color: white !important;
  width: 100%;
  min-height: 100vh;
  /*background-image: linear-gradient(to right bottom, #051937, #00466e, #007680, #00a463, #93c81e);*/
  background-image: linear-gradient(to right bottom, #051937, #0b1f53, #25226c, #461e82, #6d0592);
  background-size: 100% 100%;
}

.disabled {
  cursor: not-allowed !important;
}